.social-list {
    display: flex;
    align-items: center;

    & > li {
        &:not(:last-child) {
            margin-right: 17px;
        }
    }

    &__link {
        display: inline-block;
        height: 34px;

        & svg {
            height: 100%;
            width: auto;
        }
    }
}
