.footer {
    &__form {
        margin-bottom: 87px;

        @media (max-width: $md2+px) {
            margin-bottom: 73px;
        }

        & .footer__title {
            text-align: center;
        }
    }

    &__title {
        margin-bottom: 52px;

        @media (max-width: $md3+px) {
            margin-bottom: 35px;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: $md3+px) {
            display: block;
        }
    }

    &__column {
        flex: 1 1 auto;
        max-width: 311px;
        min-width: 180px;
        padding-right: 20px;

        @media (min-width: 992px) {
            &:not(.footer__column-1){
                padding-top: 17px;
            }
        }

        @media (max-width: $md3+px) {
            max-width: none;
            padding-right: 0;
            text-align: center;
            margin-bottom: 35px;
        }
    }

    &__column-1 {
        display: flex;
        flex-direction: column;

        & .link {
            margin-bottom: 5px;
        }

        & .social-list {
            margin-top: 20px;

            @media (min-width: 992px) {
                display: none;
            }

            @media (max-width: $md3+px) {
                display: none;
            }
        }
    }
    &__column-2 {

    }
    &__column-3 {
        @media (max-width: $md2+px) {
            min-width: 150px;
        }
    }   

    &__column-4 {
        @media (max-width: $md2+px) {
            padding-right: 0;
            max-width: 180px;
            min-width: 140px;
        }
    }

    &__column-5 {

        flex: 0 0 auto;
        margin-left: auto;
        padding-right: 0;

        @media (max-width: $md2+px) {
            display: none;
        }

        @media (max-width: $md3+px) {
            display: block;

            & .social-list {
                justify-content: center;
            }
        }

        @media (min-width: 992px) {
            & .social-list {
                flex-direction: column;
                align-items: flex-end;
    
                & > li {
                    margin-right: 0 !important;
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__logo {
        max-width: 122px;
        width: 100%;
        margin-bottom: 20px;

        @media (max-width: $md3+px) {
            margin: 0 auto 36px;
        }

        & img {
            width: 100%;
        }
    }

    &__text {
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 25px;
    }

    &__list {
        font-weight: 600;
        font-size: 16px;
        line-height: 240%;

        & li {
            & a:hover {
                text-decoration: underline;
            }

            &:first-child {
                & a {
                    color: $mainColor;
                }
            }
        }
    }

    &__copy {
        padding-top: 68px;
        min-height: 225px;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;

        @media (max-width: $md3+px) {
            padding-top: 22px;
            min-height: 115px;
        }
    }
}

.link {
    transition: all 0.3s ease;

    @media (min-width: 992px) {
        &:hover {
            color: $mainColor;
        }
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.form-footer {
    margin: 0 auto;
    max-width: 446px;
}

.default-form {
    & .ajax-loader {
        display: none;
    }
    &__item {
        margin-bottom: 55px;

        @media (max-width: $md3+px) {
            margin-bottom: 23px;
        }
    }

    &__group {
        display: flex;
        align-items: center;

        @media (max-width: $md3+px) {
            flex-direction: column;
        }

        & .default-form__btn {
            flex: 0 0 auto;
            margin-right: 18px;

            @media (max-width: $md3+px) {
                margin-top: 13px;
                margin-bottom: 32px;
                margin-right: 0;
            }
        }

        & .checkbox-wrap {
            @media (max-width: $md3+px) {
                max-width: 210px;
            }
        }
    }

    &__btn {
        min-width: 199px;
    }
}
