.modules {
    margin-bottom: 79px;
    padding-top: 28px;

    @media (max-width: $md2+px) {
        padding-top: 41px;
        margin-bottom: 53px;
    }

    &__body {
        display: flex;
        margin-bottom: 90px;
        position: relative;

        @media (max-width: $md2+px) {
            display: block;
            margin-bottom: 62px;
        }
    }

    &__column-1 {
        flex: 0 0 calc(273px + 19.85%);
        min-width: 0;

        & .modules__title {
            margin-bottom: 108px;

            @media (max-width: $md2+px) {
                max-width: 317px;
            }

            @media (max-width: $md3+px) {
                max-width: none;
                margin-bottom: 29px;
            }
        }
    }

    &__column-2 {
        flex: 1 1 auto;
        margin-left: 48px;
        display: flex;
        flex-direction: column;

        @media (max-width: $md2+px) {
            margin-left: 0;
        }

        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__title {
        margin-bottom: 19px;
    }

    &__cards-slider {
        width: 100%;
        pointer-events: none;
        
        & .swiper-slide {
            pointer-events: none;
        }

        @media (max-width: $md2+px) {
            margin-bottom: 25px;
            margin-top: -150px;
            margin-left: -15px;
        }

        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__card {
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding: 50px 30px 50px 46px;
        min-height: 412px;
        display: flex;
        flex-direction: column;

        @media (max-width: $md2+px) {
            min-height: 287px;
            border: none;
            background: #8a89dc;
            max-width: 503px;
            padding: 50px 39px 24px 45px;
        }

        & p {
            margin-bottom: 1.6em;
            line-height: 1.5em;
            & i {
                font-family: $fontItalick;
            }
        }
    }

    &__card-title {
        font-weight: 700;
        margin-bottom: 11px;

        @media (max-width: $md2+px) {
            display: none;
        }
    }

    &__card-btn {
        align-self: flex-start;
        min-width: 151px;
        margin-bottom: 27px;
        pointer-events: auto;
        @media (max-width: $md2+px) {
            margin-left: auto;
            &.btn-default {
                min-width: 178px;
                min-height: 43px;
            }
        }

        &:last-child {
            margin-top: auto;
            margin-bottom: 0;
        }
    }

    &__card-link {
        font-weight: 700;
        @media (max-width: $md2+px) {
            margin-bottom: 15px;
            text-decoration: underline;
            position: relative;
            &:before {
                font-family: "icomoon";
                position: absolute;
                content: "\e900";
                top: 0;
                font-weight: 400;
                left: -20px;
                color: inherit;
                font-size: 0.8em;
            }

            & + p {
                display: none;

                & + .modules__card-btn {
                    display: none;
                }
            }
        }
    }

    &__img {
        width: 100%;
        height: 638px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(19px);
        margin-bottom: 82px;

        @media (max-width: $md2+px) {
            height: auto;
            max-height: 601px;
            transform: translate(17px, 0);
            margin-top: -241px;
        }

        @media (max-width: $md3+px) {
            display: none;
        }

        & svg {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;

            & .path-wrapper {
                transform: translateY(35px);
            }

            & path {
                transition: all 0.6s ease;
            }

            & [class^="module"] {
                &.top {
                    cursor: pointer;
                    stroke-width: 2;
                    stroke: #fff;
                }

                &.right {
                    stroke-width: 2;
                    stroke: #fff;
                }
                &.left {
                    stroke-width: 2;
                    stroke: #fff;
                }

                &.letter {
                    pointer-events: none;
                }



                &.active {
                    &.top {
                        fill: #7a78d6;
                        stroke-width: 2;
                        stroke: #fff;
                    }

                    &.right {
                        fill: #666ec5;
                        stroke-width: 2;
                        stroke: #fff;
                    }
                    &.left {
                        fill: #666ec5;
                        stroke-width: 2;
                        stroke: #fff;
                    }

                    &.letter {
                        fill: #fff;
                    }
                }
            }

            & .module-5 {
                &.active {
                    &.top {
                        fill: #7a78d6;
                        stroke-width: 2;
                    }

                    &.right {
                        fill: #666ec5;
                        stroke-width: 2;
                    }
                    &.left {
                        fill: #666ec5;
                        stroke-width: 2;
                    }

                    &.letter {
                        fill: #fff;
                    }
                }
            }

            & .module-6 {
                transform: translateY(34px) translateX(-3px);

                &.scale {
                    opacity: 0;
                }

                &.active {
                    &.scale {
                        opacity: 1;
                        stroke-width: 2;
                        stroke: #fff;
                        fill: #7a78d6 !important;
                    }

                    &.top {
                        fill: #7a78d6;
                        stroke-width: 2;
                    }

                    &.right {
                        fill: #666ec5;
                        stroke-width: 2;
                        margin-left: 1px;
                    }

                    &.letter {
                        fill: #fff;
                    }
                }

                &.letter {
                    fill: #7a78d6;
                    pointer-events: none;
                }

                &.top {
                    fill: #dbefff;
                    stroke-width: 2px;
                    stroke: #fff;
                }

                &.right {
                    fill: #84ade3;
                    stroke-width: 2px;
                    stroke: #fff;
                }

                &.left {
                    fill: #BAD4F5 !important;
                }
            }
        }
    }

    &__text-wrap {
        max-width: 624px;
        margin-left: auto;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        @media (max-width: $md2+px) {
            margin-left: 13px;
        }
    }

    &__footer {
        text-align: center;

        @media (max-width: $md3+px) {
            display: none;
        }
    }
}

.modules {
    &__mobile-list {
        @media (min-width: 768px) {
            display: none;
        }

        & > li {
            border-radius: 30px;
            border: 2px solid $mainColor;
            padding: 0 28px;
            transition: all 0.3s ease;
            margin-bottom: 32px;

            &._active {
                background: #8a89dc;
                border-color: #8a89dc;

                & .icon-chevron {
                    color: #fff;
                }
            }
        }
    }

    &__mobile-list-title {
        display: flex;
        min-height: 60px;
        padding-left: 27px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.5em;
        position: relative;

        @media (max-width: $md4+px) {
            font-size: 18px;
        }
    }

    & .icon-chevron {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 8px;
        color: $mainColor;
        transition: all 0.3s ease;
    }

    &__mobile-list-text {
        display: none;
        padding-bottom: 15px;
        & p {
            margin-bottom: 1.6em;
            line-height: 1.5em;
            & i {
                font-family: $fontItalick;
            }
        }
    }
}
