.promo-header {
    margin-bottom: 49px;

    @media (max-width: $md2+px) {
        margin-bottom: 66px;
    }

    &__body {
        display: flex;
        margin-bottom: 8px;
        padding-top: 23px;
        min-height: 762px;

        @media (max-width: $md2+px) {
            padding-top: 0;
            min-height: 661px;
        }

        @media (max-width: $md3+px) {
            display: block;
        }

    }

    &__column-1 {
        flex: 0 0 496px;

        @media (max-width: $md3+px) {
            display: flex;
            flex-direction: column;

            & .promo-header__img  {
                margin-bottom: 20px;
            }
        }
    }
    &__column-2 {
        flex: 1 1 auto;

        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__title {
        margin-bottom: 79px;

        @media (max-width: $md2+px) {
            margin-bottom: 59px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 13px;
        }

        & strong, & > span {
            color: $mainColor;
            font-weight: 600;
        }
    }

    &__text-wrap {
        max-width: 314px;
        margin-bottom: 85px;

        @media (max-width: $md2+px) {
            margin-bottom: 63px;
        }

        @media (max-width: $md3+px) {
            display: flex;
            max-width: none;
            margin-bottom: 42px;
        }
    }

    &__text {
        margin-bottom: 19px;    

        @media (max-width: $md3+px) {
            flex: 0 0 40%;
            margin-right: 15px;
        }
    }

    &__list-wrap {
        @media (max-width: $md3+px) {
            flex: 1 1 auto;
        }

        & hr {
            max-width: 178px;
        }
    }

    &__btn {
        &.btn-default {
            min-height: 48px;
        }

        @media (max-width: $md3+px) {
           align-self: center;
           margin-bottom: 25px;
        }
    }



    &__img {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-39px, -51px);

        @media (max-width: $md2+px) {
            transform: translate(-275px, 51px);
            width: 180%;
        }

        @media (max-width: $md3+px) {
            transform: translate(0px, 0px);
            width: 100%;
        }

        @media (max-width: 834px) {
            width: 230%;
        }

        & img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__footer {
        display: flex;

        @media (max-width: $md2+px) {
            display: block;
            padding-left: 43px;
            padding-right: 43px;
        }

        @media (max-width: $md3+px) {
            padding: 0;
        }
    }

    &__footer-item {
        display: flex;
        line-height: 1.562em;



        &:not(:last-child) {
            padding-right: 25px;

            @media (max-width: $md2+px) {
                padding-right: 0;
                margin-bottom: 34px;
            }
        }

        &:nth-child(1) {
            flex: 0 1 26.76%;
        }
        &:nth-child(2) {
            flex: 0 1 40.36%;
        }
        &:nth-child(3) {
            flex: 0 1 32.88%;
        }
    }

    &__footer-item-num {
        flex: 0 0 51px;
        height: 51px;
        margin-right: 17px;
        border-radius: 50%;
        border: 2px solid $mainColor;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        font-weight: 600;
        align-self: flex-start;

        @media (max-width: $md3+px) {
            flex: 0 0 31px;
            height: 31px;
            font-size: 20px;
            margin-right: 15px;
        }
    }

    &__footer-item-text {
    }
}






.advantages {
    margin-bottom: 87px;

    @media (max-width: $md2+px) {
        margin-left: -35px;
        margin-right: -35px;
        margin-bottom: 58px;
    }

    @media (max-width: $md3+px) {
        margin-left: 0;
        margin-right: 0;
    }

    &__top {
        margin-bottom: 18px;

        @media (max-width: $md3+px) {
            &.box {
                background: transparent;
            }
        }
    }

    &__list-cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -9.5px;

        @media (max-width: $md2+px) {
            display: block;
        }
    }

    &__list-cards-item {
        padding: 0 9.5px;
        flex: 0 1 33.333%;
    }
}


.top-advantages {
    padding: 55px 54px 21px 73px;
    border-radius: 20px;

    @media (max-width: $md2+px) {
        padding-bottom: 47px;
    }

    @media (max-width: $md3+px) {
        padding: 15px 15px 21px;
    }

    &__title {
        margin-bottom: 63px;

        @media (max-width: $md3+px) {
            margin-bottom: 29px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $md3+px) {
            display: block;
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &__item {
        margin-bottom: 78px;
        flex: 0 1 35%;
        font-size: 16px;
        line-height: 1.56em;

        @media (min-width: 992px) {
            &:not(:nth-child(3n)) {
                padding-right: 20px;
            }
    
            &:nth-child(3n){
                flex: 0 1 30%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
    
            &:nth-child(3n + 2) {
                padding-left: 5.2%;
            }
            &:nth-child(3n + 1) {
                padding-left: 2.7%;
            }
    
        }

        @media (max-width: $md2+px) {
            flex: 0 1 50%;
            margin-bottom: 46px;
            &:nth-child(2n+1) {
                padding-left: 4.8%;
            } 

            &:nth-child(2n) {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }

        @media (max-width: $md3+px) {
            display: block !important;
            padding-left: 0 !important;
        }



    }

    &__item-title {
        font-weight: 700;
        font-size: 16px;
        position: relative;
        max-width: 272px;
        width: 100%;

        @media (max-width: $md2+px) {
            max-width: 278px;
        }

        @media (max-width: $md3+px) {
            max-width: none;
        }

        &:before {
            font-family: 'icomoon';
            position: absolute;
            content: "\e901";
            top: 0;
            left: -24px;
            color: $mainColor;
            font-weight: 200;
            font-size: 0.8em;
        }
    }

    &__item-text {
        width: 100%;
        max-width: 272px;

        @media (max-width: $md2+px) {
            max-width: 278px;
        }

        @media (max-width: $md3+px) {
            max-width: none;
        }

        & i {
            font-family: $fontItalick;
        }
    }
}


.card-advantages {
    padding:44px 25px 34px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 515px;
    border-radius: 20px;
    margin-bottom: 19px;

    @media (max-width: $md2+px) {
        min-height: auto;
        padding-left: 49px;
        padding-bottom: 63px;
    }

    @media (max-width: $md3+px) {
        padding:33px 22px 22px;
    }

    &__title {
        margin-bottom: 23px;
        padding-left: 25px;
        
        @media (max-width: 1440px) {
            padding-left: 0;
            font-size: 25px;
        }

        @media (max-width: $md2+px) {
            font-size: 36px;
            margin-bottom: 35px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 10px;
        }
    }

    &__list {
        padding-left: 25px;
        @media (max-width: 1440px) {
            padding-left: 0;
        }

        @media (max-width: $md2+px) {
            margin-bottom: 14px;
        }

        & li {
            display: flex;
            margin-bottom: 25px;
            align-items: center;

            @media (max-width: $md2+px) {
                margin-bottom: 19px;
            }

            @media (max-width: $md3+px) {
                align-items: flex-start;
            }
        }
    }

    &__num {
        flex: 0 0 auto;
        min-width: 31px;
        height: 31px;
        margin-right: 18px;
        border-radius: 99px;
        border: 2px solid $mainColor;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        padding: 0 6px;
    }

    &__text {
        font-weight: 600;
        line-height: 1.56em;
    }

    &__btn {
        white-space: normal;
        text-align: center;
        margin-top: auto;
        align-self: center;

        @media (max-width: $md2+px) {
            align-self: flex-start;
            margin-left: 22px;
        }

        @media (max-width: $md3+px) {
            margin-left: 0;
            background-color: $mainColor;
        }

        &.btn-default {
            min-height: 42px;
            padding-right: 15px;
            padding-left: 15px;

            @media (max-width: $md2+px) {
                padding-right: 26px;
                padding-left: 26px;
            }
        }
    }
}

